/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand-1: #00a7fa;
  --vp-c-brand-2: #1ab2ff;
  --vp-c-brand-3: #33bbff;
  --vp-c-brand-soft: #33bbff48;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(90deg, #29ABE1, #39B54B);

  --vp-home-hero-image-background-image: linear-gradient(90deg, #29ABE166, #39B54B66);
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

.VPContent.is-home {
  .text {
    font-size: 24px;
    line-height: 24px;
    @media (min-width: 640px) {
      max-width: 576px;
      line-height: 40px;
      font-size: 32px;
    }
    @media (min-width: 960px) {
      line-height: 48px;
      font-size: 40px;
    }
  }
  .tagline {
    line-height: 28px;
    font-size: 16px;
    @media (min-width: 640px) {
      line-height: 32px;
      font-size: 20px;
    }
  }
}

.VPHome {
  .VPHero {
    .image {
      .image-src {
        width: 192px;
        height: 192px;
      }
    }
  }
}
